{:validation-email {:from "do-not-reply@3x1t.org"
                    :notify-address "3x1t@3x1t.org"}
 :user-activated-email {:from "do-not-reply@3x1t.org"
                        :notify-address "3x1t@3x1t.org"}
 :mail-server-host "localhost"
 :activate-user-scheme "https"
 :activate-user-host "attivazione.3x1t.org"
 :activate-user-port "443"
 :db-location "db.json"
 :prosodyctl-adduser "/home/latakia/LATAKIA/prosodyctl-adduser.sh"
 :prosodyctl-passwd "/home/latakia/LATAKIA/prosodyctl-passwd.sh"
 :dictionaries
 {:it-IT
  {:error "errore"
   :missing "testo mancante"
   :mail-address-placeholder "Email"
   :username-placeholder "Nome utente"
   :password-placeholder "Password"
   :password-repeat-placeholder "Ripeti la password"
   :submit "Invia"
   :mail-address-empty "l'indirizzo e-mail non può essere vuoto"
   :mail-address-invalid "l'indirizzo e-mail non è valido"
   :username-empty "il nome utente non può essere vuoto"
   :username-invalid "il nome utente non è valido, ricorda di NON utilizzare MAIUSCOLE e/o spazi tra i caratteri!"
   :username-taken "il nome utente è già in uso"
   :password-empty "la password non può essere vuota"
   :password-invalid "la password non è valida: deve contenere minimo 25 caratteri di cui almeno una lettera maiuscola, una lettera minuscola e un numero"
   :password-mismatch "le password non coincidono"
   :intro-text "Questa è la pagina di creazione dell'account di chat Exit"
   :mail-sent-message "controlla la posta"
   :validation-email-subject "[3x1t.org] Richiesta di registrazione al servizio di chat"
   :validation-email-body "Si prega di visitare il seguente indirizzo per completare la registrazione:\r\n"
   :validation-notify-email-subject "[3x1t.org] Richiesta di registrazione"
   :validation-notify-email-body "L'utente \"%1\" con indirizzo \"%2\" ha richiesto l'iscrizione alla chat."
   :user-activated-email-subject "[3x1t.org] Utenza attivata"
   :user-activated-email-body "La tua utenza è stata attivata, qui troverai le istruzioni per configurare i tuoi dispositivi: https://server.3x1t.org/cloud/index.php/s/HWwkfiW8LMFrKKK"
   :user-activated-notify-email-subject "[3x1t.org] Utenza \"%1\" attivata"
   :user-activated-notify-email-body "L'utente \"%1\" con indirizzo \"%2\" ha attivato l'account per la chat."
   :foot-note ["L'invio della richiesta presuppone l'accettazione dello spirito della comunità " [:a {:href "https://3x1t.org"} "EXIT"] ", che offre questo servizio gratuitamente. Ti chiediamo di partecipare alle discussioni sul tema della sorveglianza e della lesione del diritto alla riservatezza. Il tuo indirizzo mail sarà iscritto alla nostra newsletter, e alla mailing list di discussione generale. Ci si può disiscrivere con una procedura automatica, ma ti preghiamo di considerare le nostre istanze e il nostro impegno, prima di farlo."]
   }}
 }

